$Text-em: hsl(238, 29%, 16%);
$Text-hover: hsl(14, 88%, 65%);

$Gradient-violet: hsl(273, 75%, 66%);
$Gradient-blue: hsl(240, 73%, 65%);

$Text-heading: hsl(237, 12%, 33%);
$Text-par: hsl(240, 6%, 50%);

$Dividers: hsl(240, 5%, 91%);

$font-weights : (
    "regular" : 400,
    "bold" : 700
);